::selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
}
